html * {
  box-sizing: border-box;
}

.App {
  margin: 100px auto;
  width: 500px;
}

.user-input input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #eee;
  outline: none;
}

.user-output {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #999;
}